---
import { ClientRouter } from "astro:transitions";
import { cn } from "../lib/utils";
import "@/styles/globals.css";
import { AstroFont } from "astro-font";

import Footer from "../components/Footer.astro";

import { SITE } from "@/config";

interface Props {
	title?: string;
	scrollSmooth: boolean;
	description?: string;
	tags?: string[];
	author?: string;
	imageOg?: string;
	canonicalURL?: string;
}

const {
	title = SITE.title,
	description = SITE.description,
	tags = SITE.tags,
	scrollSmooth,
	canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
	imageOg = SITE.ogImage,
} = Astro.props;
---

<!doctype html>
<html lang={SITE.lang ?? "en"} class={cn({ "scroll-smooth": scrollSmooth })}>
	<head>
		<AstroFont
			config={[
				{
					name: "EB Garamond",
					src: [],
					googleFontsURL: "https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..700;1,400..700&display=swap",
					preload: true,
					display: "swap",
					fallback: "serif",
				},
			]}
		/>

		<meta name="msapplication-TileColor" content="#8b7fb8" />
		<meta name="theme-color" content="#8b7fb8" />
		<meta name="viewport" content="width=device-width" />
		<meta charset="UTF-8" />
		<meta name="generator" content={Astro.generator} />

		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<meta name="keywords" content={tags.join(", ")} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" href={SITE.favicon} />
		<link rel="canonical" href={canonicalURL} />

		<!-- Open Graph / Facebook -->
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:image" content={imageOg} />
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonicalURL} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={imageOg} />

		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="font-serif bg-bg antialiased text-fg w-full min-h-screen flex flex-col">
		<main class="container py-10 md:py-16 flex flex-col" role="main" id="top">
			<div class="window">
				<div class="window-titlebar">
					<span class="window-title">nekiro.dev</span>
				</div>
				<div class="p-6 md:p-8 flex gap-8 flex-col">
					<slot />
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
